@font-face {
  font-family: Auth;
  src: url(./AUTHENTICSans-90.otf);
}

@font-face {
  font-family: Cirrus;
  src: url(./CirrusCumulus.ttf);
}

html,body{
  scroll-behavior: smooth;
  font-family: Auth, sans-serif;
  width: 100vw;
  overflow-x: hidden;
  margin: 0;
}

.scroll{
  position: relative;
  height: 100vh;
}

body{
  background-color: #cafbd9;
}

a{
  color: black;
  text-decoration: none;
}

h1{
  margin: 0;
  font-size: 48px;
  color: #cafbd9;
}

.menu{
  padding: 5px 10px;
  display: flex;
  align-items: center;
  width: calc(100% - 20px);
  position: fixed;
  z-index: 999;
  background-color: #cafbd9;
  top: 0;
  .logo{
    img{
      height: 53px;
      width: auto;
    }
  }
  h3{
    margin: 0;
  }
  .menu-item{ 
    padding: 5px 5px 2px 5px;
    transition: all 0.4s ease-in-out;
    h3{
      transition: all 0.4s ease-in-out;
      font-size: 16px;
      &:hover{
        color: #f93822!important;
      }
    }
    &:nth-child(2){                               //----------Handout
      display: block;
      margin: 0 0 0 auto;
    }
  }
}

.hero{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
  margin-bottom: 25vh;
  overflow-y: visible;
  top: 10px;
  position: absolute;
  width: 100vw;
}

.connect{
  stroke-width: 2px;
  stroke: #f93822;
  position: absolute;
  top: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 1s ease-in-out;
  z-index: -1;

}

.slick-active .connect{
  
  visibility: visible;
  opacity: 1
  
}


.slick-slider{
  height: 100vh;
  margin-top: 150px;
  .slick-list {margin: 0 -48px;}
  .slick-slide>div {
    padding: 0 48px;
    width: 1100px;
  }
  .slick-arrow{
    margin-top: -20px;
    &.slick-next{
      position: absolute;
      right: 10px;
      z-index: 9;
      opacity: 0;
    }
    &.slick-prev{
      position: absolute;
      left: 10px;
      z-index: 9;
      opacity: 0;
    }
    &.slick-next:before, &.slick-prev:before{
      color:#f93822;
    }
  }
  .slick-dots{
                               //----------brackets
    bottom: -40px;
    &:before{
      content: "(";
      font-family: Cirrus;
      font-size: 4vw;
      position: absolute;
      margin-top: -1.5vw;
      margin-left: -1.5vw;
      font-weight: 300;
      color: #f93822;
    }
    &:after{
      content: ")";
      font-family: Cirrus;
      font-size: 4vw;
      position: absolute;
      margin-left: -1vw;
      margin-top: -1.5vw;
      font-weight: 300;
      color: #f93822;
    }
    li{
      width: 2.5vw;
      text-align: center;
    }
  }
  .slick-active .order{
    margin-top: -30px;
    margin-left: -10px;
  }
  .order {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: absolute;
    transition: all 0.4s ease;
    &:first-child{
      margin-left: 15px;
    }
    div{
      font-size: 1.5vw;
      color: #f93822;
      z-index: 0;
      &:nth-child(2){
        font-family: Cirrus;
        margin-bottom: -5px;
        -webkit-text-stroke: 1.5px #f93822;
        // font-size: 1.5vw;
      }
    }
  }
  .image{
    width: 100%;
    // border: 1px solid blue;
    height: 58vh;
    overflow: hidden;
    // border: 1px solid black;
    img{
      object-position: center left;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  .info{
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 14px;
    font-size: 16px;
  }
  .name{
    flex-shrink: 1;
    padding-right: 24px;
    font-size: 20px;
    color: #f93822;
    // text-transform: uppercase;
  }
  .line{
    flex-grow: 1;
    border-top: 2px solid #f93822;
  }
  .title{
    flex-shrink: 1;
    padding-left: 24px;
    font-size: 20px;
    color: #f93822;
    // text-transform: uppercase;
  }
  .description{
    width: 100%;
    color: black;
    margin-top: 10px;
    column-count: 2;
    p{
      margin: 0;
      line-height: 1.3;
    }
  }
}

.project{
  // opacity: 0.5; //magweg
  // transition: opacity 0.4s ease-in-out;
}

.slick-active{
  .project{
    opacity: 1;
  }
}

.index{
  min-height: 100vh;
  margin-top: 24px;
  margin-left: 10px;
  .title{
    font-size: 45px;
    // text-transform: uppercase;
  }
  .list{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    .index-item{
      width: 33%;
      display: flex;
      border-top: 2px solid black;
      padding: 14px 0;
      .order{
        font-size: 30px;
        padding: 14px;
        width: 15%;
        display: flex;
        align-items: flex-end;
        div{
          &:nth-child(2){
            font-family: Cirrus;
            margin-bottom: -5px;
            -webkit-text-stroke: 1.5px black;
            // font-size: 14px;
          }
        }
      }
      .info{
        display: block;
        // text-transform: uppercase;
        width: 85%;
        word-wrap: break-word;
        div{
          display: block;
          a{
            transition: all 0.4s ease-in-out;
            &:hover{
              color: #f93822;
            }
          }
        }
      }
    }
  }
}

.mobile-order{
  display: none;
}

@media only screen and (max-width: 1100px) {
  .slick-slide:nth-child(odd){
    .mobile-order{
      justify-content: flex-end;
    }
  }
  .mobile-order{
    display: flex;
    color: #f93822;
    font-size: 24px;
    div{
      z-index: 999;
      &:nth-child(2){
        font-family: Cirrus;
        margin-top: 5px;
        -webkit-text-stroke: 1.5px #f93822;
      }
    }
  }
  .slick-slider{
    margin-top: 65px;
    height: auto;
    min-height: 80vh;
    overflow-y: hidden;
    overflow-x: hidden;
    .slick-slide>div {
      padding: 0 0px;
      width: 90vw;
      margin: 0 5vw;
    }
  }
  .slick-dots{
    display: none!important;
  }
  .hero{
    display: block;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
    margin-bottom: 20vh;
    overflow-y: visible;
  }
}

@media only screen and (max-width: 900px) {

  html, body{
    // height: 100vh;
    // overflow-y: scroll;
    scroll-padding-top: 75px;
  }

  .spacer{
    height: 100px;
  }

  .menu{
    .logo{
      text-align: center;
      img{
        height: 40px;
      }
    }
    .menu-item{ 
      &:nth-child(2){
        font-size: 30px;
        text-align: center;
        font-size: 18px;
      }
    }
  }

  .slick-slider{
    .image{
      height: 28vh;
    }
    .name, .title{
      padding: 5px 0;
    }
    .line{
      width: 100%;
    }
    .info{
      flex-direction: column;
      text-align: left;
      justify-content: flex-start;
      align-items: flex-start;
      overflow-y: scroll;
    }
    .description{
      column-count: 1;
      p{
        margin-bottom: 14px;
      }
    }

    .order div{
      font-size: 17px;
    }

    .slick-dots{
      width: 30px;
      bottom: -100px;
      li{
        margin-bottom: 1px;
      }
      &:before{
        margin-left: 1px;
        margin-top: -3vw;
      }
      &:after{
        margin-left: 1vw;
        margin-top: 3vw;
      }
      .slick-active .order{
        margin-top: 0px;
        margin-left: 10px;
      }
      .order{
        &:first-child{
          margin-left: 0px;
        }
      }
    }
  }


  .index{
    margin-top: 100px;
  }

  .index .list{
    display: inline-block;
    width: 98%;
  }
  .index  .list .index-item {
    width: 100%;
  }

  h1{
    font-size: 36px;
  }


}