html,body{
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  overflow-x: hidden;
  margin: 0;
}

a{
  color: black;
  text-decoration: none;
}

.menu{
  padding: 10px 10px;
  display: flex;
  width: calc(100% - 24px);
  h3{
    margin: 0;
  }
  .menu-item{
    padding: 5px 20px;
    &:nth-child(2){
      display: block;
      margin: 0 auto;
      background-color: #05CE81;
      border: 2px solid black;
      border-radius: 20px;
    }
    &:nth-child(3){
      margin-left: 160px;
      background-color: #05CE81;
      border: 2px solid black;
      border-radius: 20px;
    }
  }
}

.hero{
  height: 100vh;
}

.connect{
  stroke-width: 2px;
  stroke: #05CE81;
  position: absolute;
  top: 0;
  display: none;
}

.slick-active .connect{
  display: block;
}


.slick-slider{
  margin-top: 10px;
  .slick-list {margin: 0 -24px;}
  .slick-slide>div {padding: 0 24px;}
  .slick-arrow{
    margin-top: -20px;
    &.slick-next{
      position: absolute;
      right: 10px;
      z-index: 9;
    }
    &.slick-prev{
      position: absolute;
      left: 10px;
      z-index: 9;
    }
    &.slick-next:before, &.slick-prev:before{
      color:#05CE81;
    }
  }
  .slick-dots{
    bottom: -60px;
    li{
      width: 2vw;
      text-align: center;
    }
  }
  .slick-active .order{
    margin-top: -30px;
    div{
      font-size: 3vw;
      background-color: white;
      z-index: 999;
    }
  }
  .order {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: absolute;
    transition: all 0.4s ease;
    div{
      font-size: 1.5vw;
      &:nth-child(2){
        font-size: 10px;
      }
    }
  }
  .image{
    height: 55vh;
    overflow: hidden;
    border: 1px solid black;
    img{
      object-fit: cover;
      min-width: 100%;
      min-height: 100%;
    }
  }
  .info{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 14px;
    font-size: 16px;
  }
  .name{
    flex-shrink: 1;
    padding-right: 24px;
    font-size: 20px;
    text-transform: uppercase;
  }
  .line{
    flex-grow: 1;
    border-top: 2px solid black;
  }
  .title{
    flex-shrink: 1;
    padding-left: 24px;
    font-size: 20px;
    text-transform: uppercase;
  }
  .description{
    width: 100%;
    color: #05CE81;
    margin-top: 10px;
    column-count: 2;
  }
}

.index{
  min-height: 100vh;
  margin-top: 24px;
  margin-left: 10px;
  .title{
    font-size: 45px;
    text-transform: uppercase;
  }
  .list{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    .index-item{
      width: 33%;
      display: flex;
      border-top: 2px solid black;
      padding: 14px 0;
      .order{
        font-size: 30px;
        padding: 14px;
        width: 15%;
      }
      .info{
        display: block;
        text-transform: uppercase;
        width: 85%;
        word-wrap: break-word;
        div{
          display: block;
        }
      }
    }
  }
}